{% extends 'base/base.html' %}

{% block title %}Lista de Mantenimientos{% endblock title %}

{% block content %}

<h2 class="page-header"> Lista de Mantenimientos </h2>

<form action="{% url 'vehiculo:mantenimiento_busqueda' %}" method="get">
<div class="form-group">
<div class="col-xs-4">
    <input type="text" class="form-control" name="q" placeholder="Busqueda por vehiculo" />
    <input type="date" class="form-control " name = "fecha" />
</div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</div>
<br><br>
<table class="table table-striped">
    <tr>
      <td> <strong> DESCRIPCION </strong> </td>
      <td> <strong> TRABAJOS </strong> </td>
      <td> <strong> VEHICULO </strong> </td>
      <td> <strong> FECHA </strong> </td>
      <td> <strong> ACCIONES </strong> </td>
    </tr>
    {% for mantenimiento in mantenimientos %}
    <tr>
        <td> {{ mantenimiento.descripcion }} </td>
        <td> {{ mantenimiento.trabajos }} </td>
        <td> {{ mantenimiento.vehiculo }} </td>
        <td> {{ mantenimiento.fecha }} </td>
        <td>
            <a href="{% url 'vehiculo:mantenimiento_editar' mantenimiento.id %}" class="btn btn-primary btn-xs">Editar</a>
            <a href="{% url 'vehiculo:mantenimiento_eliminar' mantenimiento.id %}" class="btn btn-danger btn-xs">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}