{% extends 'base/base.html' %}

{% block title %}Lista de alquiler{% endblock title %}

{% block content %}
<h2 class="page-header"> Detalle de Alquiler </h2>

<form>
<fieldset>
  <legend>Datos del cliente</legend>
</fieldset>

  <div class="col-sm-2">
    <label for="dni">Carnet:</label>
    <input type="text" id="dni" class="form-control" value="{{alquiler.cliente.carnet}}" />
  </div>

  <div class="col-sm-3">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" id="nombre" value="{{alquiler.cliente.nombre}}"/>
  </div>

  <div class="col-sm-5">
    <label for="apellidos">Apellidos:</label>
    <input type="text" class="form-control" id="apellidos" value="{{alquiler.cliente.apellidos}}" />
  </div>
</form>
<br /> <br /> <br /> <br />
<fieldset>
  <legend>Datos de las motos </legend>
</fieldset>

    <table class="table table-striped">
    <tr>
      <td> <strong> PLACA </strong> </td>
      <td> <strong> DESCRIPCION </strong> </td>
      <td> <strong> MARCA </strong> </td>
      <td> <strong> MODELO </strong> </td>
      <td> <strong> PRECIO </strong> </td>
    </tr>
    {% for moto in alquiler.vehiculo.all%}
     <tr>
        <td> {{ moto.placa }}</td>
        <td> {{ moto.descripcion }}</td>
        <td> {{ moto.marca }}</td>
        <td> {{ moto.modelo }}</td>
        <td> {{ moto.tipo.precio }}</td>
     </tr>
     {% endfor %}
     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><STRONG>TOTAL</STRONG></td>
        <td>{{alquiler.total}}</td>
     </tr>
</table>
    <a href="javascript:history.back()" class="btn btn-warning">Volver</a>
{% endblock content %}