{% extends 'base/base.html' %}

{% block title %}Lista de alquiler{% endblock title %}

{% block content %}

<h2 class="page-header"> Lista de alquileres </h2>
<table class="table table-striped">
    <tr>
      <td> <strong> HORA INICIO </strong> </td>
      <td> <strong> HORA FINAL </strong> </td>
      <td> <strong> NOMBRE </strong> </td>
      <td> <strong> MOTOS </strong> </td>
      <td> <strong> TOTAL </strong> </td>
      <td> <strong> ACCIONES </strong> </td>
    </tr>
    {% for alquiler in alquileres %}
    <tr>
        <td> {{ alquiler.hora_inicio }} </td>
        <td> {{ alquiler.hora_fin }} </td>
        <td> {{ alquiler.cliente.nombre }} </td>
        <td> {{ alquiler.motos }} </td>
        <td> {{ alquiler.total }} </td>
        <td>
            <a href="{% url 'alquiler:alquiler_detalle' alquiler.id %}" class="btn btn-warning btn-xs">Detalles</a>
            <a href="{% url 'alquiler:alquiler_editar' alquiler.id %}" class="btn btn-success btn-xs">Finalizar</a>
            <a href="{% url 'alquiler:alquiler_eliminar' alquiler.id %}" class="btn btn-danger btn-xs">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}