{% extends 'base/base.html' %}

{% block title %}Confirmar la eliminación{% endblock title %}

{% block content %}
    <h2 class="page-header">Confirmacion para eliminar</h2>
    <form method="post" action="">
        {% csrf_token %}
        <p>¿Seguro que quieres eliminar el cliente  {{ cliente.nombre }} {{ cliente.apellidos }}?</p>
        <button type="submit" class="btn btn-danger">Si, eliminar</button>
        <a href="{% url 'alquiler:cliente_list'%}" class="btn btn-primary" role="button">Cancelar</a>
    </form>
{% endblock content %}