{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Detalle usuario</div>
        <div class="panel-body">
            <div class="col-md-4">

            </div>
            <div class="col-md-6">
                <strong>Información</strong><br>
                <div class="table-responsive">
                    <table class="table table-user-information">
                        <tbody>
                        {% if grupo.id %}
                            <tr>
                                <th class="col-md-3 text-left">Id</th>
                                <td>{{ grupo.id }}</td>
                            </tr>
                        {% endif %}
                        {% if grupo.name %}
                            <tr>
                                <th class="col-md-3 text-left">Usuario</th>
                                <td>{{ grupo.name }}</td>
                            </tr>
                        {% endif %}
                        {% if grupo.permissions %}
                            <tr>
                                <th class="col-md-3 text-left">Permisos</th>
                                <td>
                                    <ul>
                                        {% for permisos in grupo.permissions.all %}
                                            <li> {{ permisos.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:history.back()" class="btn btn-warning">Volver</a>
{% endblock content %}
